/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@font-face {
  font-family: "shrikhand";
  src: url(/SASS/fonts/Shrikhand/Shrikhand-Regular.ttf);
}

@font-face {
  font-family: "roboto";
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "roboto-black";
  src: url(fonts/Roboto/Roboto-Black.ttf);
}

.loading-spinner {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: transition 3s ease both;
          animation: transition 3s ease both;
}

.loading-spinner .loader-quart {
  border-radius: 50px;
  border: 5px solid transparent;
  display: inline-block;
  position: relative;
  right: 5px;
  left: 5px;
  top: 5px;
  bottom: 5px;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  border: 5px solid transparent;
  border-top-color: #9356DC;
  border-bottom-color: #9356DC;
  -webkit-animation: spin 800ms linear infinite;
  animation: spin 800ms linear infinite;
}

.loading-spinner .loader-quart:after {
  content: '';
  position: absolute;
  right: 5px;
  left: 5px;
  top: 5px;
  bottom: 5px;
  border-radius: 50px;
  border: 5px solid transparent;
  border-right-color: #FF79DA;
  border-left-color: #FF79DA;
  -webkit-animation: spin-reverse 400ms linear infinite;
  animation: spin-reverse 400ms linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes transition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes transition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

body, header, main, section, footer {
  max-width: 375px;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: "roboto";
  z-index: 2;
}

h1, h3 {
  font-family: "shrikhand";
  font-size: 1.3em;
}

h2 {
  font-family: "roboto";
  font-size: 1.5em;
  font-weight: bold;
}

i {
  margin-right: 0.7em;
}

.button__fonction {
  max-height: 70px;
  height: 100%;
  max-width: 326px;
  margin-top: 20px;
}

header {
  width: 375px;
  height: 60px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .retour {
  width: 100%;
  color: black;
  font-size: 1.5em;
  position: absolute;
  padding-left: 25px;
}

header .retour a {
  color: black;
}

header h1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.9em;
  font-weight: normal;
}

.footer {
  max-width: 375px;
  background-color: #353535;
  color: white;
  padding: 1.5em;
}

.footer h3 {
  font-weight: normal;
  margin-bottom: 20px;
}

.footer p {
  line-height: 25px;
  font-family: "roboto";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer a {
  text-decoration: none;
  color: white;
}

.localisation {
  max-width: 375px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #dddddd;
  -webkit-box-shadow: inset 0 6px 9px -6px rgba(78, 75, 75, 0.5);
          box-shadow: inset 0 6px 9px -6px rgba(78, 75, 75, 0.5);
  color: #858282;
}

.presentation {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25em;
  text-align: center;
}

.presentation h2 {
  max-width: 280px;
  margin-bottom: 20px;
}

.presentation .button__explore {
  border-radius: 25px;
  padding: 15px;
  color: white;
  font-size: 1em;
  font-weight: 500;
  margin: 20px;
  background: linear-gradient(170deg, #FF79DA 6%, #9356DC 100%);
  -webkit-box-shadow: 1px 1px 12px #dddddd;
          box-shadow: 1px 1px 12px #dddddd;
}

.presentation .button__explore:hover {
  opacity: 0.85;
  -webkit-box-shadow: 1px 1px 12px #aaaaaa;
          box-shadow: 1px 1px 12px #aaaaaa;
}

.fonctionnement {
  padding: 60px 20px;
}

.fonctionnement h2 {
  margin-bottom: 30px;
}

.button__number {
  max-width: 12px;
  max-height: 12px;
  background: #9356DC;
  color: white;
  padding: 12px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 1;
  margin-top: 25px;
}

.button__function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  padding: 15px;
  color: white;
  font-size: 1em;
  font-weight: 500;
  margin: 20px;
  background: linear-gradient(170deg, #F6F6F6 6%, white 100%);
  -webkit-box-shadow: 1px 1px 12px #dddddd;
          box-shadow: 1px 1px 12px #dddddd;
  color: black;
  margin: 0 0 30px 10px;
  padding: 25px;
  position: initial;
}

.button__function:hover {
  background: 96.47059%;
  -webkit-box-shadow: 1px 1px 12px #aaaaaa;
          box-shadow: 1px 1px 12px #aaaaaa;
}

.button__function:hover i {
  color: #9356DC;
}

.button__function i {
  margin-left: 25px;
  margin-right: 20px;
  color: #858282;
}

.button__function p {
  font-weight: bold;
}

.restaurants {
  max-width: 375px;
  width: 100%;
  padding: 60px 20px;
  background: #F6F6F6;
}

.restaurants a {
  text-decoration: none;
  color: black;
}

.bloc_restaurants {
  margin-top: 30px;
  max-width: 335px;
  width: 100%;
  max-height: 1060px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
}

.bloc_restaurants .vignette {
  max-width: 335px;
  max-height: 250px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-shadow: 1px 1px 12px #dddddd;
          box-shadow: 1px 1px 12px #dddddd;
  border-radius: 25px;
  background: white;
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image img {
  max-width: 335px;
  width: 335px;
  max-height: 175px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
  z-index: 1;
}

.image .button_new {
  width: 80px;
  height: 30px;
  position: absolute;
  z-index: 2;
  margin-left: 240px;
  margin-top: 20px;
  color: #278870;
  background: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.9em;
  font-weight: 500;
  border-radius: 4px;
}

.description {
  max-width: 375px;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.texte {
  max-height: 75px;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

p {
  margin: 0;
}

.nom {
  font-weight: bold;
}

.nom_restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nom_restaurant .img_restaurant img {
  max-width: 375px;
  max-height: 250px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nom_restaurant figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F6F6F6;
  border-radius: 25px 25px 0 0;
  margin-top: -25px;
  z-index: 2;
  position: relative;
}

.nom_restaurant figcaption h2 {
  width: 100%;
  font-family: "shrikhand";
  padding-left: 20px;
  font-size: 1.4em;
}

.nom_restaurant figcaption .coeur {
  margin: 0 20px 0 0;
  width: 52px;
}

.menu {
  padding-bottom: 50px;
  background: #F6F6F6;
  padding-left: 20px;
}

.titre_menu {
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.bloc_menu {
  max-width: 335px;
  width: 100%;
  height: 230px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 10px;
}

.bloc_menu .plat--1 {
  -webkit-animation: slide-top 600ms ease-in-out both;
          animation: slide-top 600ms ease-in-out both;
}

.bloc_menu .plat--2 {
  -webkit-animation: slide-top 800ms ease-in-out both;
          animation: slide-top 800ms ease-in-out both;
}

.bloc_menu .plat--3 {
  -webkit-animation: slide-top 1000ms ease-in-out both;
          animation: slide-top 1000ms ease-in-out both;
}

.bloc_menu .plat--4 {
  -webkit-animation: slide-top 1200ms ease-in-out both;
          animation: slide-top 1200ms ease-in-out both;
}

.bloc_note_enchantee {
  height: 310px;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

.plat {
  max-width: 335px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 285px 50px;
      grid-template-columns: 285px 50px;
  -ms-grid-row-align: center;
      align-self: center;
  height: 100%;
  -webkit-box-shadow: 1px 1px 12px #dddddd;
          box-shadow: 1px 1px 12px #dddddd;
  background: white;
  border-radius: 10px;
}

.plat .nom_plat {
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0 10px 10px;
}

.plat .nom_plat .titre {
  width: 280px;
  font-weight: bold;
  font-size: 1.1em;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.plat .nom_plat .sous-titre {
  width: 280px;
  width: 100%;
  font-size: 0.9em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.case {
  max-height: 70px;
  width: 40px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.case:hover {
  -webkit-animation: slide-left 1s both;
          animation: slide-left 1s both;
  width: 100px;
}

.case:hover .button__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.case:hover .button__check .fas {
  -webkit-animation: rotate-left 1s both;
          animation: rotate-left 1s both;
  margin: 0;
}

.case .prix {
  width: 40px;
  font-weight: bold;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.9em;
  padding: 10px 0;
}

.button__check {
  display: none;
  max-height: 70px;
  width: 60px;
  height: 100%;
  background: #99E2D0;
  padding: 0;
  color: white;
  font-size: 1.5em;
  border-radius: 0 10px 10px 0;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@-webkit-keyframes rotate-left {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

@keyframes rotate-left {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

.commande {
  padding-bottom: 50px;
  background: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.commande .button__commande {
  width: 185px;
  height: 50px;
  background: linear-gradient(170deg, #FF79DA 6%, #9356DC 100%);
  -webkit-box-shadow: 1px 1px 12px #dddddd;
          box-shadow: 1px 1px 12px #dddddd;
  border-radius: 25px;
  padding: 15px;
  color: white;
  font-size: 1em;
  font-weight: 500;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.commande .button__commande:hover {
  opacity: 0.85;
  -webkit-box-shadow: 1px 1px 12px #aaaaaa;
          box-shadow: 1px 1px 12px #aaaaaa;
}

.coeur {
  width: 32px;
  height: 32px;
  margin: 20px 0 0 20px;
  background: url(img/coeur_noir.png) no-repeat;
  -webkit-animation: opacity 100ms ease both;
          animation: opacity 100ms ease both;
}

.coeur:hover, .coeur :active, .coeur :focus {
  background: url(img/coeur_rose.png) no-repeat;
  -webkit-animation: scale-in-center 400ms ease-in-out both;
          animation: scale-in-center 400ms ease-in-out both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes opacity {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

@keyframes opacity {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */