body, header, main, section, footer {
    max-width: 375px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    @media #{$small-up} {
        max-width: $small;
        width: 100%;
    }
    @media #{$medium-up} {
        max-width: $large;
        width: 100%;
    }
    @media #{$large-up} {
        max-width: 100%;
        width: 100%;
    }
}

body{
    font-family: "roboto";
    z-index: 2;
}

h1, h3{
    font-family: "shrikhand";
    font-size: 1.3em;
}

h2{
    font-family: "roboto";
    font-size: 1.5em;
    font-weight: bold;
}

.button__fonction{
    max-height: 70px;
    height: 100%;
    max-width: 326px;
    margin-top: 20px;
}


