.footer{
    max-width: 375px;
    background-color: $color-footer;
    color: $color-font-footer;
    padding: 1.5em;
    h3{
        font-weight: normal;
        margin-bottom: 20px;
    }
    p{
        line-height: 25px;
        font-family: "roboto";
        display: flex;
    }
    a{
        text-decoration: none;
        color: $color-font-footer;
    }
}