
header{
    width: 375px;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    .retour{
        width: 100%;
        color: black;
        font-size: 1.5em;
        position: absolute;
        padding-left: 25px;
        a{
            color: black;
        }
    }
    h1{
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 1.9em;
        font-weight: normal;
    }
}

