.localisation{
    max-width: 375px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darken($color-fond, 10%);
    box-shadow: inset 0 6px 9px -6px rgba(78, 75, 75, 0.5);
    color: $color-ifont;
}

.presentation{
    background-color: $color-fond;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25em;
    text-align: center;
    h2{
        max-width: 280px;
        margin-bottom: 20px;
    }
    .button__explore{
       @include button_form;
       @include button_colorpink;
       @include shadow;
       &:hover{
        opacity: 0.85;
        @include shadow_darken;
        }
    }
}

.fonctionnement{
    padding: 60px 20px;
    h2{
        margin-bottom: 30px;
    }
}
.button__number{
    @include button_form_number;
    position: absolute;
    z-index: 1;
    margin-top: 25px;
}

.button__function{
    display: flex;
    align-items: center;
    @include button_form;
    @include button_colorgris;
    @include shadow;
    color: black;
    margin: 0 0 30px 10px;
    padding: 25px;
    position: initial;
    &:hover{
        background: lightness($color-fond);
        @include shadow_darken;
        i{
            color: $color-primary;
        }
    }
    i{
        margin-left: 25px;
        margin-right: 20px;
        color: $color-ifont;
    }
    p{
        font-weight: bold;
    }
 }

.restaurants{
    max-width: 375px;
    width: 100%;
    padding: 60px 20px;
    background: $color-fond;
    a{
        text-decoration: none;
        color: black;
    }
}

.bloc_restaurants{
    margin-top: 30px;
    max-width: 335px;
    width: 100%;
    max-height: 1060px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
    .vignette{
        max-width: 335px;
        max-height: 250px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        @include shadow;
        border-radius: 25px;
        background: white;
    }
}
   
.image{ 
    display: flex;
    img{
        max-width: 335px;
        width: 335px;
        max-height: 175px;
        -o-object-fit: cover;
           object-fit: cover;
        border-radius: 25px 25px 0 0;
        z-index: 1;
    }
    .button_new{
        width: 80px;
        height: 30px;
        position: absolute;
        z-index: 2;
        margin-left: 240px;
        margin-top: 20px;
        color: darken($color-tertiary, 40%);
        background: $color-tertiary;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9em;
        font-weight: 500;
        border-radius: 4px;
    }
}

.description{
    max-width: 375px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}
.texte{
    max-height: 75px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
p{
    margin: 0;
}
.nom{
    font-weight: bold;
}